[Unit]
After=network.target
Description=Zigbee2mqtt Service

[Service]
Environment="LOCALE_ARCHIVE=/nix/store/49vhlwl9gib4vavpd64klpz4l5nwz3g5-glibc-locales-2.40-224/lib/locale/locale-archive"
Environment="PATH=/nix/store/hqkszxk2c0cxvd04xa4gsaqs182dw8l2-coreutils-9.8/bin:/nix/store/8xhaz2ysixijy8sgzmwmhlialqqind1p-findutils-4.10.0/bin:/nix/store/k3wiv3qqa4y0im5v1iq2jy4h9cm32dfc-gnugrep-3.12/bin:/nix/store/4zi0y6cmpjnbhmgrx7vfgqkyv5z1z4z0-gnused-4.9/bin:/nix/store/ckb44g2gn1ma5y47kh2bhk0zximhgqyi-systemd-258.7/bin:/nix/store/hqkszxk2c0cxvd04xa4gsaqs182dw8l2-coreutils-9.8/sbin:/nix/store/8xhaz2ysixijy8sgzmwmhlialqqind1p-findutils-4.10.0/sbin:/nix/store/k3wiv3qqa4y0im5v1iq2jy4h9cm32dfc-gnugrep-3.12/sbin:/nix/store/4zi0y6cmpjnbhmgrx7vfgqkyv5z1z4z0-gnused-4.9/sbin:/nix/store/ckb44g2gn1ma5y47kh2bhk0zximhgqyi-systemd-258.7/sbin"
Environment="TZDIR=/nix/store/qa63hibyghja8i40f907q9g97cvkdw8c-tzdata-2026b/share/zoneinfo"
Environment="ZIGBEE2MQTT_DATA=/var/lib/zigbee2mqtt"
CapabilityBoundingSet=
DeviceAllow=/dev/ttyACM0
DevicePolicy=closed
ExecStart=/nix/store/km3bimvh2g7dsfgii65lhjsn69sqaddw-zigbee2mqtt-2.6.3/bin/zigbee2mqtt
ExecStartPre=/nix/store/k8qrb3091b4qmwhxfjhsdsb67miq3v2y-unit-script-zigbee2mqtt-pre-start/bin/zigbee2mqtt-pre-start
Group=zigbee2mqtt
LockPersonality=true
MemoryDenyWriteExecute=false
NoNewPrivileges=true
PrivateDevices=false
PrivateTmp=true
PrivateUsers=true
ProcSubset=pid
ProtectClock=true
ProtectControlGroups=true
ProtectHome=true
ProtectHostname=true
ProtectKernelLogs=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectProc=invisible
ProtectSystem=strict
ReadWritePaths=/var/lib/zigbee2mqtt
RemoveIPC=true
Restart=on-failure
RestrictAddressFamilies=AF_INET
RestrictAddressFamilies=AF_INET6
RestrictAddressFamilies=AF_NETLINK
RestrictNamespaces=true
RestrictRealtime=true
RestrictSUIDSGID=true
StateDirectory=zigbee2mqtt
StateDirectoryMode=0700
SupplementaryGroups=dialout
SystemCallArchitectures=native
SystemCallFilter=@system-service @pkey
SystemCallFilter=~@privileged @resources
SystemCallFilter=@chown
UMask=0077
User=zigbee2mqtt
WorkingDirectory=/var/lib/zigbee2mqtt

[Install]
WantedBy=multi-user.target
